.team {
    font-family: Ubuntu;
    background-color: #fff;
    &__wrapper {
        padding: 120px 0 140px;
        position: relative;
        .figure__right {
            position: absolute;
            top: 10%;
            right: 12%;
        }
        .figure__left {
            position: absolute;
            bottom: 5%;
            left: 5%;
        }
    }
    &__title h3 {
        padding-bottom: 70px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 22.5% 77.5%);
        gap: 20px;

        .team__about {
            padding-top: 130px;
            z-index: 5;
            &_title {
                padding-bottom: 18px;
                font-weight: 500;
                @include fz(34);
                line-height: 39px;
            }
            &_subtitle {
                font-weight: 300;
                color: #3D3D3D;
                font-size: calc(25px + 16 * ((100% - 360px) / (1920 - 360)));
                line-height: 140%;
            }
        }

        .team__column {
            .team__place {
                background-color: #F0F0F0;
                border-radius: 25px;
                margin-bottom: 70px;
                max-width: 633px;
                .team__choise {
                    position: relative;
                }
                .team__tab {
                    position: relative;
                    &:not(:last-child) {
                        margin-right: 44px;
                    }
                    &_label {
                        cursor: pointer;
                    }
                }
               .team__tab, .tab-title {
                   /* Выстраиваем по горизонтали */
                display: inline-block; 
               }
               .team__tab input[type="radio"] { 
                   display: none; 
                }
               .team__tab :checked ~ .tab-title {
                background-color: #FF0B53;
                border-radius: 36px;
                color: #fff;
               }
               .team__tab :checked ~ .tab-content {
                display: block; /* Показываем активную вкладку */
               }

               .team__link {
                cursor: pointer;
               }
               .team__link_circle {
                    position: absolute;
                    top: 20px;
                    left: 25px;
                    line-height: 10px;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #000;
                    border-radius: 50%;
                    z-index: 9;
                }
                input[type="radio"]:checked + .team__link_circle { 
                    border: 2px solid #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &::before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        // border: 6px solid #000;
                        border-radius: 50%;
                    }
                }
               .tab-title {
                padding: 19px 63.5px; 
                border: none;
                color: #101020;
                }

            }
        }
    }

    &__list {
        .team__item {
            list-style: none;
            width: 100%;
            .team__link {
                text-decoration: none;
                display: block;
                position: relative;
                line-height: 0;
                &:after {
                    content: "";
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
                &:hover:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.9);
                    opacity: 0.6;
                    z-index: 10;
                    border-radius: 5px;
                }
                .team__info {
                    opacity: 0;
                    position: absolute;
                    color: rgb(255, 255, 255);
                    // padding: 0 30px 35px;
                    top: 60%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    text-transform: uppercase;
                    transition: all 0.3s ease-out;
                    z-index: 20;
                    .team__text {
                        padding-bottom: 30px;
                        text-align: center;
                        &_name {
                            padding-bottom: 10px;
                            font-weight: 500;
                            @include fz(30);
                            line-height: 34px;
                            align-items:center
                        }
                        &_occupation {
                            font-weight: 400;
                            @include fz(24);
                            line-height: 27px;
                            align-items:center
                        }
                    }
                }
                &:hover .team__info {
                    transition: all 0.3s ease-in-out;
                    opacity: 1;
                }
            }
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .swiper-wrapper {
        margin-bottom: 65px;
    }
    // .swiper-slide{height:none}
    // прописал этот параметр в css слайдера чтобы не прыгала высота блока при скроле

    .swiper-horizontal>.swiper-scrollbar {
        left: 0%;
        bottom: 15px;
        height: 1px;
        max-width: 75%;
    }
    .swiper-scrollbar {
        background: #676767;
        border-radius: 0px;
        // height: 1px;
    }
    .swiper-scrollbar-drag {
        top: -3.5px;
        height: 7px;
        background: #17191D;
        border-radius: 1px;
        // width: 25% !important;
    }
    --swiper-navigation-size: 40px;
    .swiper-button-prev {
        right: 70px;
        left: auto;
        top: auto;
        bottom: 0;
    }
    .swiper-button-next {
        right: 10px;
        top: auto;
        bottom: 0;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        color: #101020;
    }

}